@media (max-width: 991px) {
    .navigation-wrap {
        text-align: center;
        background-color: black;
    }
}


@media (max-width: 991px) {
    .titan-title-size-4 {
        font-size: 38px;
        letter-spacing: 6px;
    }
}

@media (max-width: 767px) {
    .titan-title-size-1 {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .titan-title-size-4 {
        font-size: 28px;
        letter-spacing: 3px;
    }
}

@media (min-width: 768px) {
    .col-sm-offset-3 {
        margin-left: 25%;
        width: 50%;
        float: left;
    }
}

@media (max-width: 992px) {
    .font-alt{
        font-size: 22px;
    }
}
@media(max-width: 766px){
    .col-sm-offset-3 {
        width: 100%;
    }
    .font-alt{
        font-size: 17px;
    }
}